
div.display-block{
    padding: 20px 0 20px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    user-select: none;
    width: 100%;

    div.code-container{
        & *{
            text-align: left;
        }
        width: 100%;
        user-select: text;
    }
    h1.title{
        width: 100% ;
        text-align: center;
        color: var(--ifm-color-primary);
        font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
    }
    .display-collapse{
        width: 100%;

        :global .ant-collapse-header-text {
            color: var(--ifm-color-primary);
            font-weight: 500;
            font-size: 16px
        }

        :global .ant-collapse-header {
            background: var(--component-background);
        }

        :global .ant-collapse-content-box {
            background: var(--component-background);
            padding-left: 0;
            padding-right: 0;
        }

        :global .ant-collapse-expand-icon svg {
            color: var(--ifm-color-primary)
        }

        :global .ant-collapse {
            border: none;
        }
    }
    div.svg-container{
        width: 100%;
        height: 100%;
        margin:20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    code{
        width: 100%;
    }
}
