.background {
  height: 120vh;
  position: fixed;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;

  z-index: -1;
}

[data-theme='dark'] .background {
  background: linear-gradient(180deg, #b73cff 5%, #7929ff 100%);
}

.background {
  background: linear-gradient(180deg, #FFEAF6 0%, rgba(255, 157, 228, 0.84) 100%);
}