/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
}

*[data-component-style='glass'] .glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.2) solid;

    scrollbar-color: var(--ifm-color-content) transparent;
}

*[data-component-style='glass'] .glass * {
    scrollbar-color: var(--ifm-color-content) transparent;

}

.hover-float {
    transition: all 0.3s ease-in-out;
    transform: translateY(0px) scale(1);

    cursor: pointer;
}

.hover-float:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

[data-theme='dark'].text-adaptive {
    color: var(--ifm-hero-text-color);

}

.text-adaptive {
    color: var(--ifm-color-content);
}
