/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

*[data-component-style='glass'] .glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    *{
        scrollbar-color: var(--ifm-color-content) transparent;
        
    }
    scrollbar-color: var(--ifm-color-content) transparent;
}
.hover-float {
    transition: all 0.3s ease-in-out;
    transform: translateY(0px) scale(1);

    cursor: pointer;
}

.hover-float:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

[data-theme='dark'].text-adaptive {
    color: var(--ifm-hero-text-color);

}

.text-adaptive {
    color: var(--ifm-color-content);
}
